.header-wraper {
    max-width: 1184px;
    width: 90%;
    display: flex;
     justify-content: space-between;
     margin:  0 auto;
     align-items: center;
     padding: 32px;
}
.ul-nav {
    display: flex;
   
} 
.log-in {
    width: 105px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sign-up {
    width: 115px;
    height: 49px;
    background-color: #5D50C6;
    border-radius: 100px;
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-header-block {
    display: flex;
    max-width: 220px;
    width: 100%;
    
}
.burger-bar {
    width: 40px;
    height: 40px;
    background-color:#5D50C6 ;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
    display: none;
}
.line {
    height: 2px;
    width: 80%;
    background-color: white;
    border-radius: 10px;

}


/* section2 */

.conteiner {
    max-width: 1184px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
   
}

.left-div {
    width: 412px;
    height: 478px;
}
 


.right-div {
  width: 772px;
  height: 287,38px;
}
.picture {
    width: 100%;
}
.left-div-button {
    display: flex;
    column: gap 16px; ;
    margin-top: 43px;
}
.text-between {
    margin-top: 43px;
    margin-bottom: 43px;
}

.get-started {
    width: 141px;
    height: 49px;
   align-items: center;
   background-color: #5D50C6; 
   border-radius: 100px;
   color: white;
   display: flex;
   justify-content: center;

}
.watch-button {
    width: 181px;
    height: 56px;
    color: black;
    align-items: center;
    display: flex;
    justify-content: center;
}
.text {
    font-weight: 400px;
    font-size: 69px;
    line-height: 120%;
    color: black;
}
.red-text {
 color: #F85E9F;
  font-weight: 400;
 font-size: 69px ;
 line-height: 120%;
} 

/* section3 */
.wraper {
    max-width: 1184px;
    width: 90%;
    margin: 0 auto;
}
 .first-block {
    display: flex;
    justify-content: space-between;
 }
 .top-text {
    font-size: 23px;
    font-weight: 700;
    line-height: 120%;
    color: #F85E9F;
    margin-bottom: 16px;
 }
 .explore-text {
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
 }
  .arrow-left {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 1px solid #1918251A;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
.arrow-right {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: #5D50C6;
    border: 1px solid #1918251A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }


  .arrows {
    display: flex;
    column-gap: 32px;

  }
  .secound-block {
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
  }
  .box {
     max-width: 373,33px;
     width: 100%;
    height: 575px;
  }
    .name{
        font-size: 23px;
        font-weight: 700;
        margin-bottom: 16px;
    }




    .picture-box {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }






    /* section 4 */

  .main-div {
    max-width: 1312px;
    width: 90%;
    display: flex;
    margin: 0 auto;
    align-items: center;
  }
    .picture-block {
        width: 100%;
        height: 697px;
        object-fit: cover;
        
    }
    .title-color {
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        color: #F85E9F;
    }
    .title-black {
        font-weight: 400;
        font-size: 44px;
        line-height: 120%;
        margin-top: 16px;
        margin-bottom: 32px;


    }  
    
    .text-block {
        width: 441px;
        height: 667px;
    }
    .frame-block {
       width: 441px;
       height: 334px;
       display: flex;
       flex-direction: column-reverse;
    }
    .frame-1 {
        width: 441px;
        height: 191px;
        display: flex;
       justify-content: space-between;
       margin-bottom: 32px;
       margin-top: 64px;
    }
    .frame-2 {
        width: 441px;
        height: auto;
        display: flex;
        justify-content: space-between;
    }
     .frame {
        height: 151px;
        width: 204px;
     }





     /* section 5 */
     .div-item {
        max-width: 1,312px;
        width: 90%;
        margin: 0 auto;
        height: 871px;
        margin-top: 137px;
    
     }
      .text-item {
        width: 1,312px;
        height: 187px;
      }

      .title-item {
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        color: #F85E9F;
        padding-top: 108px;
      }

      .font-item {
        font-weight: 700;
        font-size: 44px;
        line-height: 120%;
        margin-top: 16px;
        margin-bottom: 32px;
      }

      .icons-div {
        width: 1312px;
        height: 492px;
        margin-top: 64px;
        margin-bottom: 64px;
      }
      .icon-1 {
        display: flex;
        align-items: center;
        width: 1116px;
        height: 164px;
      }
       .icon-orange {
        width: 100px;
        height: 100px;
        border-radius: 32px;
        background-color: #FF5722;
        color: white;
        font-size: 34px;

        display: flex;
       align-items: center;
       justify-content: center;

       }
        .icon-text {
            width: 1116px;
            height: 65px;
            margin-left: 32px;
            margin-top: 49,5px;
            margin-bottom: 49,5px;
        }
        .icon-title {
            font-weight: 700;
            font-size: 23px;
            line-height: 120%;
        }
      .icon-yellow  {
        width: 100px;
        height: 100px;
        border-radius: 32px;
        background-color: #FACD49;
        color: white;
        font-size: 34px;

        display: flex;
       align-items: center;
       justify-content: center;
      }
      
      .icon-pink {
        width: 100px;
        height: 100px;
        border-radius: 32px;
        background-color:#F85E9F; 
        color: white;
        font-size: 34px;

        display: flex;
       align-items: center;
       justify-content: center;
      }


    
/* resposiv */
@media (max-width:1024px) {
    .navigation {
        display: none;
    }
    .burger-bar {
        display: flex;
        order: 1;
    }
    .logo {
        order: 2;
    }
    .right-header-block {
        order: 3;

    }
    .conteiner {
        flex-direction: column-reverse; 
    }
.left-div {
   width: 100%;
   display: flex;
   text-align: center;
   flex-direction: column;
   align-items: center;
}
 .right-div {
    width: 100%;
 }
 .text {
    font-size: 56px;
 }
  .red-text {
    font-size: 56px;
 } 

  
 .first-block {
   flex-direction: column;
   row-gap: 64px;
   text-align: center;
   align-items: center;
 }
.picture-box  {
    height: 314px;
}
.main-div {
    max-width: 896px;
    height: 1,469px;
    flex-direction: column;
    gap: 64px 32px;
}
 .picture-block {
    max-width: 871px;
    height: 697px;
  
}
  .picture-img{
    width: 90%;
  }
  .text-block {
    width: 100%;
    height: 182px;
  }


  .frame {
    width: 100%;
    height: 151px;
  }
  .frame-block {
    width: 832%px;
    height: 334px;
  }
 



  .text-item {
    row-gap: 64px;
   text-align: center;
   align-items: center;
  }  

  .text-block {
    text-align: center;
  }
 
}



@media (max-width:430px) {
       .navigation {
        display: none;
    }
    .burger-bar {
        display: flex;
        order: 2;
    }
    .logo {
        order: 1;
    }
    .right-header-block {
        display: none ;

    }


      
    .text {
     font-size: 40px;
   }
      .red-text {
    font-size: 40px;
 }
.left-div-button {
    width: 100%;
    flex-direction: column;
}
.get-started {
    width: 100%;
}
.watch-button  {
    width: 100%;
}
 .arrows {
    justify-content: space-between;
    width: 100%;
 }
  .secound-block {
    flex-direction: column;
    row-gap: 32px;
  }
.picture-block {
    max-width: 398px;
    height: 318,49px;
}
 .picture-img {
    width: 90%;
 }
  .text-block {
    width: 398px;
    height: 221px;
  }
  
  .frame-block {
    width: 398px;
    height: 652px;
  }

  .frame-1 {
    flex-direction: column;
  }
   .frame-2 {
    flex-direction: column;
   }
.frame {
    width: 100%px;
    height: 151px;
  }
  .div-item {
    column-gap: 32px;
  }
   

  .div-item {
    flex-direction: column;
    row-gap: 8px;
  }
  }